html {
    font-family: sans-serif;
}

body {
    font-size: 18px;
    margin: 0;
    counter-reset: section;
}

header{
    box-sizing: border-box;
    height: 100vh;
    padding: 1em calc(50% - 500px) 6em;
    background-color: #856977;
    background-image: url("../assets/images/city-under-smog.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: serif;
}

header h1 {
    font-size: 5.5556rem;
    margin: 1em auto 0.7em;
    color: #fff;
    letter-spacing: 0.1em;
    text-align: center;
    text-shadow: 0 1px 1px hsla(0, 0%, 100%, 0.8);
}

header video {
    display: block;
    width: 70%;
    margin: 3rem auto 2rem;
    background-color: #9cabad;
    animation: fadeIn 1s ease-in;
    transition-delay: 2s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

section {
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: row-reverse;
}

article {
    box-sizing: border-box;
    position: relative;
    padding: 1.66666667rem 3.33333333rem;
    width: calc(100vw - 480px);
    counter-increment: section;
}

aside {
    box-sizing: border-box;
    position: relative;
    width: 480px;
    left: 0;
    top: 0;
    margin: 0;
    height: inherit;
    padding: 7rem 3.22222223rem 2rem;
}

section:nth-child(2n+1) > article {
    background-color: rgba(240,222,187,.6);
}

section:nth-child(2n) > aside {
    background-color: rgba(240,222,187,.6);
}

article h1 {
    font-size: 2.5rem;
    margin-bottom: 1em;
    min-width: 600px;
    padding: 0;
    font-family: serif;
    font-weight: bold;
    letter-spacing: 0.1em;
}

article h1::before {
    content: counter(section);
    content: counter(section, cjk-ideographic);
    display: block;
    font-size: 0.7em;
    font-weight: 100;
    margin: 0.3em 0.1em 0.6em;
}

article h2 {
    font-family: serif;
    min-width: 600px;
    font-size: 1.6rem;
    letter-spacing: 0.06em;
}

article h2::before {
    width: 0;
    height: 0;
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
    border-left: 1em solid black;
}

article > h3 {
    font-family: serif;
    font-size: 1.2rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

article > p {
    line-height: 1.8;
    text-indent: 2em;
    font-size: 0.95rem;
}

article img {
    display: block;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 260px;
    margin-top: 0 1rem 5.77777778rem 0.5rem;
}

.remark {
    margin: 0.3rem 0 1.2222223rem;
    color: #666;
    font-size: 0.88888889rem;
    text-indent: 0;
    width: 60%;
}

.img-large {
    width: 60%;
    max-height: none;
}

article li {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.conversation {
    border-left: 2px solid #888;
    padding: 0;
    padding-left: 1rem;
    line-height: 2;
    color: #444;
    font-size: 0.88888889rem;
}

.conversation dt, dl.conversation dd {
    display: inline;
}

.conversation dt {
    width: 3em;
}

.conversation dd {
    margin: 0;
}

.conversation dd::after {
    content: "\A";
    white-space: pre;
}

blockquote {
    font-size: 0.88888889rem;
    padding: 0.3rem 1.66666667rem;
    line-height: 1.65;
    color: #444;
}

blockquote p {
    margin: 0.5rem 0;
    text-indent: 2em;
}

article > ol {
    margin-top: 1.7em;
    margin-bottom: 1.7em;
    font-size: 0.95rem;
    line-height: 1.5;
}

article aside {
    box-sizing: border-box;
    width: 34%;
    margin: 0;
    padding-right: 1.66666667rem;
    float: left;
    clear: both;
}

aside p {
    font-size: 1.15rem;
    color: #444;
    margin: 2rem 0;
}

aside a {
    color: inherit;
    text-decoration: none;
}

aside a::before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 0.3rem solid transparent;
    border-bottom: 0.3rem solid transparent;
    border-left: 0.6rem solid black;
    margin: 0 0.3rem 0.2rem 0;
    z-index: 1;
}

aside img {
    display: block;
    max-height: 180px;
    margin: 0.6rem 0;
}

aside small {
    display: none;
}

.img-large-side {
    width: 80%;
    max-height: none;
    margin: 0.5rem 0 2.5rem;
}

.link {
    position: absolute;
    width: 100%;
    bottom: 2rem;
    margin: 0.4rem 0;
    padding-right: 1.66666667rem;
    font-size: 0.88888889rem;
    color: #444;
    line-height: 1.5;
    text-indent: 0;
    word-wrap: break-word;
}

.link::before {
    content: "相关链接：";
    display: block;
}

.link a {
    display: block;
    position: relative;
    color: #551a8b;
    text-decoration: none;
}

.link a::before {
    display: none;
}

article aside:nth-last-child(1) {
    margin-bottom: 7rem;
}

/* timeline */
.timeline {
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 0.3333333rem;
    top: 0;
    bottom: 0;
    left: 2rem;
    background-color: #626262;
}

.container {
    padding: 0.55555556rem;
    padding-left: 3rem;
    padding-right: 1.38888889rem;
    position: relative;
    width: 80%;
    left: 0;
  }

.container::before {
    content: "";
    position: absolute;
    width: 1.11111111rem;
    height: 1.11111111rem;
    left: 22px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.container::after {
    left: 3.33333333rem;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

.content {
    padding: 0.5rem 1rem;
    position: relative;
    border-radius: 6px;
    font-size: 0.88888889rem;
    line-height: 1.7;
}

.content h3 {
    margin: 0 0.3rem;
}
.content p {
    margin: 0.5rem 0.3rem;
}
